<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %>

<body>
  <h1>Hello World</h1>
  <h2>-- Main Page --</h2>

  <%- include('partials/header')  %>

  <p>This site was rendered using EJS :D 🌈</p>
  <p><%= message %></p>
  <%- include('partials/footer')  %>
  <h2>Students:</h2>
  <ul>
    <% students.forEach(student => { %>
      <li><%= student.name %> got a grade of <%= student.grade %></li>
    <% }); %>

  </ul>
</body>
</html> 


